html{
   
  font-size: 10px;
  font-family: 'SF Pro Display',sans-serif;
}

body{
  margin: 0;
}
a{
  
  display:block ;
  text-decoration:none ;
}

.container{
  /* set top and bottom margin to 0. Right and left margin set to auto to center div */
  /* used rem not px to make website responsive */
 margin: 0 auto;
 padding:0 2.2rem ;
}

header{
  margin:0;
  padding: 0;
  height:4.4rem;
  background-color: rgba(0,0,0,.8);
  width: 100%;
}

.nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  /* center items in nav and put space between them */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 0;
}

.nav-link{
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  /* make transition on hover a bit longer */
  transition: opacity .5s;
}


/* on mouse hover , nav link change opacity */
.nav-link:hover{
  opacity: 0.7;
}

.nav-search{
  width: 1.2rem;
  height: 4.4rem;
  background: url(images/search-icon.svg) center no-repeat;
}

.iPhone-13-Pro{
  background: url("images/hero/iPhone-13-Pro/iphone_13_pro_large.jpg");
  margin-top: 0;
  border-top: none;
}

.hero{
  height:69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
 
  
}

.title{
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading{
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-subheading{
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

.title-price{
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}

.cta{
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link{
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2){
  margin-left: 2.6rem;
}

.cta-link:hover{
  border-bottom: 2px solid #66bbff;
}

/*iPhone13*/
.iPhone-13{
  background: url("images/hero/iPhone-13/iPhone13.jfif");
  background-size: auto;
}

.title-dark{
  color: #000;  
}

.cta-link-darker{
  color: #0070c9;
}

.cta-link-darker:hover{
  border-bottom-color: #0070c9
}
.Watch{
  background: url("images/hero/watch/watch.jpg");
}

.title-heading-watch{
  height: 7.8rem;
  background: url("images/hero/watch/logo_watch.png") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}html{
   
  font-size: 10px;
  font-family: 'SF Pro Display',sans-serif;
}

a{
  
  display:block ;
  text-decoration:none ;
}

.container{
  /* set top and bottom margin to 0. Right and left margin set to auto to center div */
  /* used rem not px to make website responsive */
 margin: 0 auto;
 padding:0 2.2rem ;
}

header{
  margin:0;
  padding: 0;
  height:4.4rem;
  background-color: rgba(0,0,0,.8);
  width: 100%;
}

.nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  /* center items in nav and put space between them */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 0;
}

.nav-link{
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  /* make transition on hover a bit longer */
  transition: opacity .5s;
}


/* on mouse hover , nav link change opacity */
.nav-link:hover{
  opacity: 0.7;
}

.nav-search{
  width: 1.2rem;
  height: 4.4rem;
  background: url(images/search-icon.svg) center no-repeat;
}

.iPhone-13-Pro{
  background: url("images/hero/iPhone-13-Pro/iphone_13_pro_large.jpg");
 
  border-top: none;
  border-bottom: 0;
}

.hero{
  height:69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
 
  
}

.title{
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading{
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-subheading{
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

.title-price{
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}

.cta{
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link{
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2){
  margin-left: 2.6rem;
}

.cta-link:hover{
  border-bottom: 2px solid #66bbff;
}

/*iPhone13*/
.iPhone-13{

  background: url("images/hero/iPhone-13/iPhone13.jfif") no-repeat;
  background-size: 100%;
 
}

.title-dark{
  color: #000;  
}

.cta-link-darker{
  color: #0070c9;
}

.cta-link-darker:hover{
  border-bottom-color: #0070c9
}
.Watch{
  background: url("images/hero/watch/watch_large.jpg") center no-repeat;
}

.title-heading-watch{
  height: 7.8rem;
  background: url("images/hero/watch/logo_watch.png") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}
