html{
   
  font-size: 10px;
  font-family: 'SF Pro Display',sans-serif;
}
body{
  margin: 0;
}

a{
  
  display:block ;
  text-decoration:none ;
}

.container{
  /* set top and bottom margin to 0. Right and left margin set to auto to center div */
  /* used rem not px to make website responsive */
 margin: 0 auto;
 padding:0 2.2rem ;
 
}

header{
  position: fixed;
  margin:0;
  padding: 0;
  height:4.4rem;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  backdrop-filter: blur(2rem);
}

.nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  /* center items in nav and put space between them */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 0;
}

.nav-link{
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  /* make transition on hover a bit longer */
  transition: opacity .5s;
}


/* on mouse hover , nav link change opacity */
.nav-link:hover{
  opacity: 0.7;
}

.nav-search{
  width: 1.2rem;
  height: 4.4rem;
  background: url(images/search-icon.svg) center no-repeat;
}

.iPhone-13-Pro{
  background: url("images/hero/iPhone-13-Pro/iphone_13_pro_large.jpg");
  border-top: none;
}

.hero{
  height:69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  /* borders top and bottom */
  border-top: .6rem solid #fff;
  border-bottom:.6rem solid #fff;
  
}



/* title default = white font */
.title{
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading{
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-subheading{
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

.title-price{
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}

.cta{
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link{
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2){
  margin-left: 2.6rem;
}

.cta-link:hover{
  border-bottom: 2px solid #66bbff;
}

/*laptop*/
.Laptop{

  background: url("images/hero/Laptop/laptop.jpg") no-repeat;
  background-size: 100%;
 
}

.title-dark{
  color: #000;  
}

.cta-link-darker{
  color: #0070c9;
}

.cta-link-darker:hover{
  border-bottom-color: #0070c9
}
.Watch{
  background: url("images/hero/watch/watch_large.jpg") center no-repeat;
}

.title-heading-watch{
  height: 7.8rem;
  background: url("images/hero/watch/logo_watch.png") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}


.Earphone{
  background: url("images/hero/Earphone/earphone.jpg") no-repeat;
  background-size: 100%;
  
}



/**************************************************************************************************/
/* CONTACT US PAGE */
.contact-box{
  display: flex;
  justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #ddd;

}

.contact-body{
  margin: 0;
  padding: 0;
}

.contact-section{
  background: url(images/contactform-images/bg.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  font-size: 2rem;
  font-family: "montserrat",sans-serif;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
  font-size: 4rem;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
  border-radius: 4px;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  /* Add shadow on hover */
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  /* make text siye fixed */
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
/* CONTACT US PAGE */
/**************************************************************************************************/
